@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body{
  background-color:#2B2E43;
}
h1{
  font-family: "Permanent Marker", sans-serif;
}
i{
  font-family: "Inconsolata", sans-serif;
}
p{
  font-family: "Roboto", sans-serif;
}
.Buttons{
  display: flex;
  flex-flow:  column wrap;
  justify-content: center;
  padding-left:10px ;
  padding-right:10px ;
  gap: 10px;
  position: relative;
  top: -19vh;
  right: 25vw;
  border: double 10px rgb(12, 12, 12);
  background-color:rgb(214, 214, 214);
  border-radius: 10px;
  width: 65%;
  height: 35vh;
  transform: scale(0.1%);
}
.Buttons button{
  font-family: "Titan One", sans-serif;
  background-color: #4EB879;
  height: 9vh;
  border-radius: 10px;
  font-size: 25px;
  transition: ease-in-out 0s;
  box-shadow: 2px 1px 1px 0 black;
}
.Buttons button:hover{
  transform: scale(110%);
}
.grown{
  transition: ease-in-out 1s;
  transform: scale(100%);
  position: relative;
  right: -1vw;
  top: 1.5vh;
}
.decrease{
  position: relative;
  top: -31vh;
  right: 24vw;
  transform: scale(0.1%);
}
.PdeTroca{
position: absolute;
z-index: 10;
top: 26.2vh;
right: 58.58vw;
font-size: 20px;
color:white;
}
.removeEverything{
  position: relative;
  top: 8vh;
  right:-23vw;
  cursor: pointer;
  transition: ease-in-out 0.6s;
  transform: scale(0.1%);
}
  .removeEverything:hover{
  animation: vibrar 0.5s linear 0s infinite normal none;
}
@keyframes vibrar {
 0%{
   transform: rotate(0deg);
}
25%{
   transform: rotate(5deg);
}
50%{
   transform: rotate(-5deg);
   transform: scale(110%);
}
}
.grownImage{
  transform: scale(100%);
}
.erase, .capslock{
  font-weight: 900;
}

